<header id="site-header">
    <section id="header-container">
        <div id="header-content">
            <div id="header-title">
                <a href="https://help.broadbandhub.us/">Help | BroadbandHub</a>
                
            </div>
            <div class="spacer"></div>
            <a href="https://app.broadbandhub.us">Go to broadbandhub.us <i
                    class="material-icons-round">arrow_forward</i></a>
        </div>
    </section>
    <section id="blue-slant">
        <div id="blue-slant-box"></div>
    </section>




</header>