<header id="site-header">
    <section id="header-container">
        <div id="header-content">
            <div id="header-title">
                <a href="https://help.broadbandhub.us/">Help | Broadband Hub</a>
                
            </div>
            <div class="spacer"></div>
            <a href="https://app.broadbandhub.us">Go to broadbandhub.us <i
                    class="material-icons-round">arrow_forward</i></a>
        </div>
    </section>
    <section id="blue-slant">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1000 100" preserveAspectRatio="none">
            <path class="elementor-shape-fill" d="M0,6V0h1000v100L0,6z"></path>
        </svg>
    </section>
</header>