<header id="site-header">
    <section id="header-container">
        <div id="header-content">
            <div id="header-title">
                <a href="https://help.broadbandhub.us/">Help | BroadbandHub</a>
                
            </div>
            <div class="spacer"></div>
            <a href="https://app.broadbandhub.us">Go to broadbandhub.us <i
                    class="material-icons-round">arrow_forward</i></a>
        </div>
    </section>
    <section id="blue-slant">
        <!--
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1000 100" preserveAspectRatio="none">
            <path class="elementor-shape-fill" d="M0,6V0h1000v100L0,6z"></path>
        </svg>
        -->
        <div id="blue-slant-box"></div>
    </section>

    
    <div class="search-bar-wrap search-wrapper">
        <div class="search-bar">
            <form class="search-bar__container" _lpchecked="1">
                <div class="search-bar__input-wrap">
                    <div class="search-bar__input" id="search-searchbar"></div>
                </div>
            </form>
        </div>
    </div>


</header>