@import "./variables";

header#site-header {
    #header-container {
        padding:20px;
        background: $darker;
        color: $darker-text;

        #header-content {
            max-width: $max-width;
            margin:auto;
            display:flex;
            align-items: center;

            #header-title {
                font-size:24px;
            }

            a {
                color: inherit !important;
                display:flex;
                align-items: center;
                text-decoration: none;

                i {
                    margin-left:2px;
                    font-size: 18px;
                }
            }
        }
    }

    #blue-slant {
        fill: $primary;

        #blue-slant-box {
            background-color: $primary;
            height: 200px;
        }
    }
}