.search-bar {
    margin-left: auto;
    margin-right: auto;
    max-width: 1000px;
    width: 100%;
}

.search-wrapper {
    margin-top: -150px; 
    position: relative; 
    z-index: 2;
    padding-bottom: 100px;
}

.home-wrapper {
    margin-top: -70px; 
    margin-bottom: 70px;
    position: relative; 
    z-index: 2;
    padding-bottom: 50px;
}

@media (min-width: 576px){
    .search-bar__input {
        font-size: 1.5rem;
    }
}

@media (min-width: 340px) {
    .search-bar__input {
        font-size: 1.25rem;
        padding-right: 15px;
        padding-left: 15px;
    }
}

.search-bar__container {
    display: flex;
    height: 72px;
}

.search-bar__wrap {
    padding-bottom: 30px;
    background-color: #1652f0;
    color: #fff;
}

.search-bar-wrap[data-bg-color=cbBlue] {
    background-color: $primary;
}

.search-bar__input {
    border: 0;
    font-size: 1.125rem;
    font-weight: 700;
    height: 100%;
    line-height: 1;
    padding-top: 30px;
    padding-right: 5px;
    padding-bottom: 15px;
    padding-left: 7px;
    width: 100%;
    outline: none;
}

.search-bar__input-wrap {
    align-items: center;
    display: flex;
    flex-grow: 1;
}

.search-bar__wrap {
    padding-bottom: 30px;
    background-color: #1652f0;
    color: #fff;
}

.search-bar__wrap[data-bg-color=cbBlue] .s05-search-bar__icon {
    color: #1652f0;
}

input {
    text-rendering: auto;
    color: -internal-light-dark(black, white);
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    appearance: auto;
    background-color: -internal-light-dark(rgb(255, 255, 255), rgb(59, 59, 59));
    cursor: text;
    margin: 0em;
    font: 400 13.3333px Arial;
    padding: 1px 2px;
    border-width: 2px;
    border-style: inset;
    border-color: -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
    border-image: initial;
}
