<!DOCTYPE html>
<html lang="en">

{%- include head.html -%}

<body>

    {%- include header.html -%}

    <main class="page-content" aria-label="Content">
        <div class="wrapper home-wrapper">


            <!-- Home page content here -->

            <div class="responsivegrid">
                <div id="search-hits" class="card results"></div>
                <div class="card" id="content">
                    <div class="grid_wrap">
                        <div class="grid-grid">
                            <section class="grid-item">
                                <!--<img class="grid-img" src="https://help.coinbase.com/content/dam/help/category-icons/getting-started.svg">-->
                                <span class="material-icons grid-image">play_arrow</span>
                                <h3 class="grid-headline">Getting Started</h3>
                                <ul class="grid-list">
                                    <li class="grid-list-item"><a href="https://help.broadbandhub.us/create-an-account">Create an account</a></li>
                                    <li class="grid-list-item"><a href="https://help.broadbandhub.us/logging-in">Logging in</a></li>
                                    <li class="grid-list-item"><a href="https://help.broadbandhub.us/logging-out">Logging out</a></li>
                                </ul>
                            </section>
                            <section class="grid-item">
                                <!--<img class="grid-img" src="https://help.coinbase.com/content/dam/help/category-icons/managing-account.svg">-->
                                <span class="material-icons grid-image">account_circle</span>
                                <h3 class="grid-headline">Managing My Account</h3>
                                <ul class="grid-list">
                                    <li class="grid-list-item"><a href="https://help.broadbandhub.us/editing-your-dashboard">Editing your dashboard</a></li>
                                    <li class="grid-list-item"><a href="https://help.broadbandhub.us/update-your-profile-picture">Update your profile picture</a></li>
                                </ul>
                            </section>
                            <section class="grid-item">
                                <!--<img class="grid-img" src="https://help.coinbase.com/content/dam/help/category-icons/trading-on-coinbase.svg">-->
                                <span class="material-icons grid-image">assignment</span>
                                <h3 class="grid-headline">Using Broadband Hub</h3>
                                <ul class="grid-list">
                                    <li class="grid-list-item"><a href="https://help.broadbandhub.us/creating-regions">Creating regions</a></li>
                                    <li class="grid-list-item"><a href="https://help.broadbandhub.us/creating-templates">Creating templates</a></li>
                                    <li class="grid-list-item"><a href="https://help.broadbandhub.us/finding-documents">Finding documents</a></li>
                                    <li class="grid-list-item"><a href="https://help.broadbandhub.us/exporting-entities">Exporting entities</a></li>
                                </ul>
                            </section>
                            <section class="grid-item">
                                <!--<img class="grid-img" src="https://help.coinbase.com/content/dam/help/category-icons/other-topics.svg">-->
                                <span class="material-icons grid-image">dashboard</span>
                                <h3 class="grid headline">Other Topics</h3>
                                <ul class="grid-list">
                                    <li class="grid-list-item"><a href="https://help.broadbandhub.us/making-dashboard-widgets">Making dashboard widgets</a></li>
                                    <li class="grid-list-item"><a href="https://help.broadbandhub.us/viewing-470-data">Viewing 470 Data</a></li>
                                    <li class="grid-list-item"><a href="https://help.broadbandhub.us/viewing-frn-data">Viewing 471(FRN) Data</a></li>
                                    <li class="grid-list-item"><a href="https://help.broadbandhub.us/view-entity-471-history">Viewing an entity's 471 history</a></li>
                                </ul>
                            </section>
                        </div>
                    </div>
                </div>
            </div>
            
            
    </main>
    {% include algolia.html %}

    {%- include footer.html -%}

</body>

</html>
